body{
  color: #e5b299;
  line-height: 1;
  letter-spacing: 1.5px;
  font-weight:  500;
  font-weight: lighter;
  font-family:'Mate SC', serif ;
}

h1, h2, h3 {
	font-family: 'Noto sans joto', sans-serif;
}

h1{ color: #7d5a50 ;
	font-size: 30px;
}


/* Custom design with class */

.container{
  width: 800px;
  margin: 60px auto;
}

.card-brown {
  background: whitesmoke;
  padding: 40px;
  box-shadow: 0px 2px 10px lightgrey;
  border-radius: 4px;
  margin: 20px 0px;
  text-align: center;